.tagsList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 6px;
  display: -webkit-box;
  /* -webkit-box-orient: vertical; */
  -webkit-line-clamp: 2; /* обмеження кількості рядків */
  overflow: hidden;
  line-clamp: 2;
  max-height: 3em;
}

.tagListItem {
  display: flex;
  color: var(--colorTextSecondary);
  font-size: 12px;
  &::before {
    content: '';
    display: inline-flex;
    align-self: center;
    width: 1px;
    height: 16px;
    background-color: rgba(18, 20, 23, 0.1);
    margin-right: 6px;
  }
  &:first-child {
    &::before {
      width: 0;
      margin-right: 0;
    }
  }
}
