.list {
  display: flex;
  gap: 15px;
}

.link {
  font-size: 18px;
  font-weight: 600;
  color: var(--colorTextPrimary);
  transition: all var(--transition);
  padding: 15px 0;
  &:hover {
    color: var(--colorAccent);
  }
}

.linkActive {
  color: var(--colorAccent);
}

@media (max-width: 480px) {
  .list {
    gap: 10px;
  }

  .link {
    font-size: 16px;
  }
}
