.list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.listItem {
  width: calc((100% - 90px) / 4);
}

.loadMoreBox {
  display: flex;
  justify-content: center;
}

.loadMoreBox button {
  font-weight: 600;
  color: var(--colorAccent);
  text-decoration: underline;
  background-color: transparent;
  border: none;
  margin: 100px 0;
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--colorAccentHover);
  }
}
