.list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.listItem {
  width: calc((100% - 90px) / 4);
}

.text {
  font-size: 24px;
  color: var(--colorTextPrimary);
  text-align: center;
  margin: 20px 0;
}

@media (max-width: 1439px) {
  .listItem {
    width: calc((100% - 60px) / 3);
  }
}

@media (max-width: 767px) {
  .list {
    row-gap: 30px;
    column-gap: 15px;
  }

  .listItem {
    width: calc((100% - 15px) / 2);
  }
}

@media (max-width: 480px) {
  .listItem {
    width: 100%;
  }
}
